@font-face {
    font-family: 'LDBX';
    font-style: normal;
    font-weight: normal;
    src: url(https://cdn.jsdelivr.net/gh/DemsonHuang/Font-Library@latest/woff2/LiDeBiao-Xing3.woff2) format('woff2');
}