@font-face {
    font-family: 'CJSX';
    font-style: normal;
    font-weight: normal;
    src: url(https://cdn.jsdelivr.net/gh/DemsonHuang/Font-Library@latest/woff2/Chenjishi-Xing.woff2) format('woff2');
}